# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable node-debugger': 'node-debugger:toggle'
  '.line-number':
  		'Add breakpoint': 'node-debugger:breakpoint-add'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'node-debugger'
      'submenu': [
        { 'label': 'Add Breakpoint', 'command': 'node-debugger:breakpoint-add'}
        { 'label': 'Toggle', 'command': 'node-debugger:toggle' },
      ]
    ]
  }
]
